Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-protocol
      name: protocol
      paths: ["packages/protocol/**"]

    - component_id: package-http-client
      name: http-client
      paths: ["packages/http-client/**"]

    - component_id: package-http-server
      name: http-server
      paths: ["packages/http-server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

update quote payment instructions (#266)
  .changeset/mighty-carrots-jog.md
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/types.ts
Due: protocol

Added OrderInstructions message
  packages/protocol/build/compile-validators.js
  packages/protocol/src/message-kinds/index.ts
  packages/protocol/src/message-kinds/order-instructions.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

consistency fix
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

lint
  packages/protocol/src/message.ts
Due: protocol

100% code coverage and fixes
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol

lint
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Create green-beans-rhyme.md
  .changeset/green-beans-rhyme.md
Due: none

Addressed PR comments
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Added OrderInstructions message (#268)
  .changeset/green-beans-rhyme.md
  packages/protocol/build/compile-validators.js
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/index.ts
  packages/protocol/src/message-kinds/order-instructions.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Added Cancel message support
  packages/protocol/build/compile-validators.js
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/cancel.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/index.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

100% new code coverage
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-instructions.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Create clean-horses-rule.md
  .changeset/clean-horses-rule.md
Due: none

minor
  packages/protocol/build/compile-validators.js
Due: protocol

Addressed review comments
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/cancel.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol

More test coverage
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Added Cancel message support (#269)
  .changeset/clean-horses-rule.md
  packages/protocol/build/compile-validators.js
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/cancel.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/index.ts
  packages/protocol/src/message-kinds/order-instructions.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Fixed minor issue to prep v2.2.0 release
  README.md
Due: none

changeset
  .changeset/kind-monkeys-tell.md
Due: none

Fixed minor issue to prep v2.2.0 release (#270)
  .changeset/kind-monkeys-tell.md
  README.md
Due: none

test vectors report wip
  .github/actions/spec-test-vector-report/action.yml
  .github/workflows/integrity-check.yml
Due: none

autobump wip
  .github/actions/spec-test-vector-report/action.yml
  .github/actions/spec-test-vector-report/dist/index.js
  .github/actions/spec-test-vector-report/dist/index.js.map
  .github/actions/spec-test-vector-report/dist/licenses.txt
  .github/actions/spec-test-vector-report/dist/sourcemap-register.js
  .github/actions/spec-test-vector-report/index.js
  .github/actions/spec-test-vector-report/package-lock.json
  .github/actions/spec-test-vector-report/package.json
  .github/workflows/integrity-check.yml
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Add specs-report on CI
  .github/workflows/integrity-check.yml
Due: none

Add specs-report on CI (#273)
  .github/workflows/integrity-check.yml
Due: none

fix tests id
  .github/workflows/integrity-check.yml
Due: none

fix tests id (#274)
  .github/workflows/integrity-check.yml
Due: none

bump creds package
  .changeset/eight-boats-bathe.md
  packages/http-client/package.json
  packages/protocol/package.json
  packages/protocol/src/dev-tools.ts
  pnpm-lock.yaml
Due: protocol, http-client

update vuln attempt
  package.json
  pnpm-lock.yaml
Due: none

update vuln attempt 2
  package.json
  pnpm-lock.yaml
Due: none

update vuln attempt 3
  package.json
Due: none

update vuln attempt 3
  pnpm-lock.yaml
Due: none

update vuln attempt 4
  audit-ci.json
  package.json
  pnpm-lock.yaml
Due: none

bump pnpm version
  pnpm-lock.yaml
Due: none

bump creds package (#275)
  .changeset/eight-boats-bathe.md
  audit-ci.json
  package.json
  packages/http-client/package.json
  packages/protocol/package.json
  packages/protocol/src/dev-tools.ts
  pnpm-lock.yaml
Due: protocol, http-client

Add new Spec Report Regex Params
  .github/workflows/integrity-check.yml
Due: none
