Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-protocol
      name: protocol
      paths: ["packages/protocol/**"]

    - component_id: package-http-client
      name: http-client
      paths: ["packages/http-client/**"]

    - component_id: package-http-server
      name: http-server
      paths: ["packages/http-server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

adding tbdoc fixes, again
  packages/http-client/src/errors/response-error.ts
Due: http-client

remove ion, replace key with jwk, remove commented lines, refactor tests, address pr comments
  .changeset/breezy-islands-play.md
  packages/http-client/tests/client.spec.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/tests/crypto.spec.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol, http-client, http-server

cleanup console log
  packages/http-client/tests/client.spec.ts
Due: http-client

update changeset
  .changeset/breezy-islands-play.md
Due: none

Update web5/dids, web5/credentials, web5/crypto, web5/common to latest (#177)
  .changeset/breezy-islands-play.md
  packages/http-client/package.json
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/package.json
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/protocol/package.json
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource.ts
  packages/protocol/tests/crypto.spec.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/rfq.spec.ts
  pnpm-lock.yaml
Due: protocol, http-client, http-server

PR comments
  packages/http-server/src/in-memory-exchanges-api.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol, http-server

Update packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-close.spec.ts
Due: http-server

Stricten, test, and bugfix http-server (#170)
  packages/http-server/package.json
  packages/http-server/src/fakes.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/in-memory-exchanges-api.ts
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/get-offerings.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/http-server/tests/tsconfig.json
  packages/http-server/tsconfig.json
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/tests/exchange.spec.ts
  pnpm-lock.yaml
Due: protocol, http-server

fix: upgrade typeid-js from 0.3.0 to 0.5.0
  packages/protocol/package.json
Due: protocol

update versions
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Update tests
  packages/protocol/tests/close.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

changeset
  .changeset/slimy-needles-relate.md
Due: none

Add external_id field (#163)
  .changeset/slimy-needles-relate.md
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
  packages/protocol/src/message.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/close.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  pnpm-lock.yaml
Due: protocol, http-client, http-server

PR comment - else not continue
  packages/protocol/src/message-kinds/rfq.ts
Due: protocol

Override dependency ip for security patch
  package.json
  pnpm-lock.yaml
Due: none

woops
  packages/protocol/tests/rfq.spec.ts
Due: protocol

make requiredPaymentDetails optional (#139)
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

pnpm install
  pnpm-lock.yaml
Due: none

add short-sha to next preview version
  .github/workflows/release.yml
Due: none

adjust github changelog
  .github/workflows/docs-publish.yml
  package.json
  pnpm-lock.yaml
Due: none

add better changesets changelogs fn
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

Full Changesets usage to automate releases
  .changeset/config.json
  .github/workflows/changeset-version.yml
  .github/workflows/create-gh-release.yml
  .github/workflows/docs-publish.yml
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
  README.md
Due: none

Add `next` preview
  .github/workflows/release.yml
Due: none

Full Changesets usage to automate releases (#174)
  .changeset/config.json
  .github/workflows/changeset-version.yml
  .github/workflows/create-gh-release.yml
  .github/workflows/docs-publish.yml
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Remove exchangeId from submit endpoint paths
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/http-server.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-client, http-server

Clean up unused and extraneous code
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/get-offerings.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/tests/crypto.spec.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol, http-server

Changeset
  .changeset/fluffy-eggs-collect.md
Due: none

removing issuer did resolution
  packages/http-client/src/client.ts
Due: http-client

using did dht as default for all pfi and alice dids being generated for all message creation
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

using did:jwk for dids when generating test vectors
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

Update submodule to use updated test vectors
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Use hermit
  .github/workflows/docs-ci.yml
  .github/workflows/integrity-check.yml
  .github/workflows/release.yml
  .nvmrc
  bin/.node-21.6.2.pkg
  bin/.pnpm-8.15.3.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/corepack
  bin/hermit
  bin/hermit.hcl
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
Due: none

update readme
  README.md
Due: none

use stable hermit
  bin/hermit
Due: none

update GH action
  .github/workflows/integrity-check.yml
Due: none

fix: upgrade query-string from 8.1.0 to 8.2.0
  packages/http-client/package.json
Due: http-client

update vector generation script to use `did:dht` dids for pfi and alice
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol
