Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-protocol
      name: protocol
      paths: ["packages/protocol/**"]

    - component_id: package-http-client
      name: http-client
      paths: ["packages/http-client/**"]

    - component_id: package-http-server
      name: http-server
      paths: ["packages/http-server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

removing todos waiting on a merged PR
  packages/http-client/src/client.ts
  packages/http-client/src/errors/request-token-error.ts
Due: http-client

changing description for each test vector generation method to fit the message being built
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

Rename sdk-development -> web5-spec (#151)
  .github/workflows/integrity-check.yml
Due: none

test vector changes (#152)
  packages/protocol/package.json
  packages/protocol/src/dev-tools.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/test-vectors.spec.ts
  pnpm-lock.yaml
Due: protocol

removing some stale / irrelevant todos
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/tests/get-exchanges.spec.ts
Due: http-server

removing unused error from index import. changed DevTools.getOffering() to allow passing in of offering creator did
  packages/http-client/src/errors/index.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol, http-client

removing an error import
  packages/http-client/tests/client.spec.ts
Due: http-client

removing a test that is no longer needed
  packages/http-client/tests/client.spec.ts
Due: http-client

Replace karma with wtr in http-client
  packages/http-client/karma.conf.cjs
  packages/http-client/package.json
  packages/http-client/tests/buffer-polyfill.cjs
  packages/http-client/tests/bundle-tests.mjs
  packages/http-client/web-test-runner.config.mjs
Due: http-client

Replace karma with wtr in protocol
  packages/protocol/package.json
  packages/protocol/tests/buffer-polyfill.cjs
  packages/protocol/tests/bundle-tests.mjs
  packages/protocol/web-test-runner.config.mjs
  pnpm-lock.yaml
Due: protocol

Add changeset
  .changeset/famous-llamas-sit.md
Due: none

rebase and update deps
  pnpm-lock.yaml
Due: none

Fix protocol devtool implementation after web5/credentials pkg update
  pnpm-lock.yaml
Due: none

update deps
  pnpm-lock.yaml
Due: none

Add glob to build for protocol tests
  packages/protocol/package.json
  packages/protocol/tests/buffer-polyfill.cjs
  packages/protocol/tests/bundle-tests.mjs
  packages/protocol/tests/tsconfig.json
Due: protocol

Add glob to build for http-client browser tests
  packages/http-client/package.json
  packages/http-client/tests/bundle-tests.mjs
Due: http-client

Fix tests
  packages/protocol/karma.conf.cjs
  packages/protocol/src/dev-tools.ts
  packages/protocol/tests/bundle-tests.mjs
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/test-vectors.spec.ts
  packages/protocol/tests/tsconfig.json
  pnpm-lock.yaml
Due: protocol

Replace karma with web-test-runner (#133)
  .changeset/famous-llamas-sit.md
  packages/http-client/karma.conf.cjs
  packages/http-client/package.json
  packages/http-client/tests/buffer-polyfill.cjs
  packages/http-client/tests/bundle-tests.mjs
  packages/http-client/web-test-runner.config.mjs
  packages/protocol/karma.conf.cjs
  packages/protocol/package.json
  packages/protocol/src/dev-tools.ts
  packages/protocol/tests/bundle-tests.mjs
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/test-vectors.spec.ts
  packages/protocol/web-test-runner.config.mjs
  pnpm-lock.yaml
Due: protocol, http-client

JWT creation / verification (#150)
  .changeset/soft-ravens-march.md
  packages/http-client/src/client.ts
  packages/http-client/src/errors/index.ts
  packages/http-client/src/errors/request-token-error.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/tests/get-exchanges.spec.ts
Due: http-client, http-server

Simplify types, inheritance structure, and API
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/fakes.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/http-server/src/request-handlers/submit-rfq.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/protocol/.c8rc.json
  packages/protocol/README.md
  packages/protocol/package.json
  packages/protocol/src/main.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/index.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parse.ts
  packages/protocol/src/resource-kinds/index.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/src/utils.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Lint
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/http-server.ts
  packages/protocol/src/resource.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol, http-client, http-server

renaming
  packages/http-client/tests/client.spec.ts
Due: http-client

vcjwt is a string
  packages/protocol/src/dev-tools.ts
Due: protocol

adding `replyTo` field in http request body to submit RFQ (#142)
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/index.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/src/dev-tools.ts
Due: protocol, http-client, http-server

Increase documentation coverage in protocol package
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parse.ts
Due: protocol

Fix tsdocs inheritdoc
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
Due: protocol

typoooo
  packages/protocol/src/message-kinds/close.ts
Due: protocol

Remove rawToMessageModel and rawToResourceModel from public API
  packages/protocol/src/main.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
Due: protocol

Fix capitalization on inheritDoc
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/resource-kinds/offering.ts
Due: protocol

Give up on inheritDoc
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/resource-kinds/offering.ts
Due: protocol

Resolve link doc tag warnings
  packages/http-client/src/client.ts
  packages/http-client/src/main.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource.ts
Due: protocol, http-client

fix: upgrade @web5/crypto from 0.2.4 to 0.3.0
  packages/protocol/package.json
Due: protocol

@jiyoontbd PR comments
  packages/http-client/src/client.ts
  packages/protocol/src/main.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/parse.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol, http-client

Add changeset
  .changeset/violet-bats-battle.md
Due: none

Document raw to model functions
  packages/protocol/src/parser.ts
Due: protocol

Address tbdocs warnings for http-server
  packages/http-server/src/http-server.ts
Due: http-server

Simplify types, inheritance structure, and API (#156)
  .changeset/violet-bats-battle.md
  packages/http-client/src/client.ts
  packages/http-client/src/main.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/fakes.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/protocol/.c8rc.json
  packages/protocol/README.md
  packages/protocol/package.json
  packages/protocol/src/main.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/index.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/resource-kinds/index.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/src/utils.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Upgrade noble hashes
  packages/protocol/package.json
  pnpm-lock.yaml
Due: protocol
