Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

add todos
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

add optional balances endpoint
  packages/http-server/src/http-server.ts
  packages/http-server/src/in-memory-balances-api.ts
  packages/http-server/src/request-handlers/get-balances.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-balances.spec.ts
Due: http-server

update comments
  packages/http-server/src/http-server.ts
Due: http-server

add balance resource and todos
  packages/protocol/build/compile-validators.js
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/resource-kinds/balance.ts
  packages/protocol/src/resource-kinds/index.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/balance.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

update test vectors spec
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

update validtor to cjs
  packages/protocol/build/compile-validators.js
  packages/protocol/src/validator.ts
  packages/protocol/tests/balance.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

add client get balances method
  packages/http-client/src/client.ts
Due: http-client

add authz to balances endpoint
  packages/http-server/src/http-server.ts
  packages/http-server/src/in-memory-balances-api.ts
  packages/http-server/src/request-handlers/get-balances.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-balances.spec.ts
Due: http-server

remove paymentMethodKind enum
  packages/protocol/src/types.ts
Due: protocol

update httpServer opts
  packages/http-server/src/http-server.ts
  packages/http-server/tests/get-balances.spec.ts
Due: http-server

bump spec, update syntax, remove xits
  packages/http-server/src/http-server.ts
  packages/protocol/tests/balance.spec.ts
Due: protocol, http-server

remove cjs
  packages/protocol/build/compile-validators.js
  packages/protocol/src/validator.ts
Due: protocol

Add balance resource and todos (#212)
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/in-memory-balances-api.ts
  packages/http-server/src/request-handlers/get-balances.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-balances.spec.ts
  packages/protocol/build/compile-validators.js
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/resource-kinds/balance.ts
  packages/protocol/src/resource-kinds/index.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/balance.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol, http-client, http-server

Move OSSF Checks to OSP
  .github/workflows/scorecard.yml
Due: none

updating parse close vector with success field (#220)
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

Refresh offerings test vector
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Refresh offerings test vector (#218)
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

claimsHashes -> claimsHash
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Lint
  packages/protocol/src/message-kinds/rfq.ts
Due: protocol

Require salt in Rfq privateData JSON schema
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Fix test names
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Lint
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Create salted hashes of privateData in Rfq (#215)
  packages/protocol/build/compile-validators.js
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Unhashed -> Create
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
Due: protocol

Unhashed -> Create (#224)
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
Due: protocol

Move OSSF Checks to OSP (#222)
  .github/workflows/scorecard.yml
Due: none

add changeset
  .changeset/lucky-waves-battle.md
Due: none

update changes
  .changeset/lucky-waves-battle.md
Due: none

add changeset (#226)
  .changeset/lucky-waves-battle.md
Due: none

update web5 packages, fix tests
  package.json
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/tests/rfq.spec.ts
  pnpm-lock.yaml
Due: protocol, http-client, http-server

add changeset
  .changeset/nervous-ducks-draw.md
Due: none

fix test
  packages/protocol/tests/rfq.spec.ts
Due: protocol

lint
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Feat/bump web5 packages (#227)
  .changeset/nervous-ducks-draw.md
  package.json
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/tests/rfq.spec.ts
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Added myself to CODEOWNERS + Minor update to README
  CODEOWNERS
  README.md
  bin/.node-21.7.1.pkg
  bin/.pnpm-8.15.6.pkg
  bin/corepack
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
Due: none

Path conditions:
  protocol: any of: packages/protocol/**
  http-client: any of: packages/http-client/**
  http-server: any of: packages/http-server/**
