Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-protocol
      name: protocol
      paths: ["packages/protocol/**"]

    - component_id: package-http-client
      name: http-client
      paths: ["packages/http-client/**"]

    - component_id: package-http-server
      name: http-server
      paths: ["packages/http-server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Recent small spec changes (#213)
  packages/http-server/package.json
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-offerings.spec.ts
  packages/protocol/build/compile-validators.js
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
  pnpm-lock.yaml
Due: protocol, http-server

Add OSP Reusable Workflow for Scans
  .github/workflows/security.yml
Due: none

Add OSP Reusable Workflow for Scans (#214)
  .github/workflows/security.yml
Due: none

Create salted hashes of privateData in Rfq
  packages/protocol/build/compile-validators.js
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/parser.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Add new test vector
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Lint
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
Due: protocol

update get offerings filter in http-server
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-offerings.spec.ts
Due: http-server

Rip out List Offering query params
  packages/http-client/src/client.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/tests/get-offerings.spec.ts
Due: http-client, http-server

Rip out the rest
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-offerings.spec.ts
Due: http-server

remove offering filters
  packages/http-client/src/client.ts
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-offerings.spec.ts
Due: http-client, http-server

Rip out List Offering query params (#217)
  packages/http-client/src/client.ts
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-offerings.spec.ts
Due: http-client, http-server

Refresh offerings test vector
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

update validtor to cjs
  packages/protocol/build/compile-validators.js
  packages/protocol/src/validator.ts
  packages/protocol/tests/balance.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

add client get balances method
  packages/http-client/src/client.ts
Due: http-client

resolve todos
  packages/protocol/build/compile-validators.js
  packages/protocol/tests/balance.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

add balance resource and todos
  packages/protocol/build/compile-validators.js
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/resource-kinds/balance.ts
  packages/protocol/src/resource-kinds/index.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/balance.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

add client and vector tests
  packages/http-client/tests/client.spec.ts
  packages/protocol/src/parser.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol, http-client

add optional balances endpoint
  packages/http-server/src/http-server.ts
  packages/http-server/src/in-memory-balances-api.ts
  packages/http-server/src/request-handlers/get-balances.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-balances.spec.ts
Due: http-server

add todos
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

update test vectors spec
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

update comments
  packages/http-server/src/http-server.ts
Due: http-server

Update packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

PR comments
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
Due: protocol

Add doc to PrivatePaymentDetails
  packages/protocol/src/types.ts
Due: protocol

Add tests
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Add Close.success
  packages/protocol/src/types.ts
Due: protocol

booooolean
  packages/protocol/src/types.ts
Due: protocol

test
  packages/protocol/tests/close.spec.ts
Due: protocol

Add Close.success (#219)
  packages/protocol/src/types.ts
  packages/protocol/tests/close.spec.ts
Due: protocol

adding change made to test vector
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol
