Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-protocol
      name: protocol
      paths: ["packages/protocol/**"]

    - component_id: package-http-client
      name: http-client
      paths: ["packages/http-client/**"]

    - component_id: package-http-server
      name: http-server
      paths: ["packages/http-server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Fixed typo
  README.md
Due: none

Added self to CODEOWNERS + Minor update to README (#228)
  CODEOWNERS
  README.md
  bin/.node-21.7.1.pkg
  bin/.pnpm-8.15.6.pkg
  bin/corepack
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
Due: none

Uses @web5 packages v1.0.0
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
Due: protocol, http-client, http-server

Add major bump to v1
  .changeset/cold-hotels-nail.md
Due: none

Update pnpm-lock.yaml file
  pnpm-lock.yaml
Due: none

Prep v1.0.0 release (#229)
  .changeset/cold-hotels-nail.md
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Added launch.json for one click debugging
  .vscode/launch.json
  packages/protocol/src/message.ts
Due: protocol

Added launch.json for one click debugging (#231)
  .vscode/launch.json
  packages/protocol/src/message.ts
Due: protocol

Provenance Config
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
Due: protocol, http-client, http-server

Provenance Config (#232)
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
Due: protocol, http-client, http-server

Patch provenance config
  .changeset/blue-shirts-love.md
Due: none

Boosted http-client to have 100% code coverage + minor updates
  packages/http-client/.c8rc.json
  packages/http-client/src/client.ts
  packages/http-client/src/errors/request-error.ts
  packages/http-client/src/errors/request-token-error.ts
  packages/http-client/src/errors/response-error.ts
  packages/http-client/src/errors/validation-error.ts
  packages/http-client/tests/client.spec.ts
  packages/http-client/tests/error.spec.ts
  packages/http-server/.c8rc.json
  packages/http-server/src/callback-error.ts
  packages/protocol/.c8rc.json
Due: protocol, http-client, http-server

Fixed lint errors
  packages/http-client/tests/client.spec.ts
  packages/http-client/tests/error.spec.ts
Due: http-client

Addressed PR comments
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
Due: http-client

Boosted http-client code coverage to 100% + minor updates (#234)
  packages/http-client/.c8rc.json
  packages/http-client/src/client.ts
  packages/http-client/src/errors/request-error.ts
  packages/http-client/src/errors/request-token-error.ts
  packages/http-client/src/errors/response-error.ts
  packages/http-client/src/errors/validation-error.ts
  packages/http-client/tests/client.spec.ts
  packages/http-client/tests/error.spec.ts
  packages/http-server/.c8rc.json
  packages/http-server/src/callback-error.ts
  packages/protocol/.c8rc.json
Due: protocol, http-client, http-server

Patch provenance config (#233)
  .changeset/blue-shirts-love.md
Due: none

update request handlers and add tests
  packages/http-server/src/request-handlers/get-exchange.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/tests/get-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
Due: http-server

add changeset
  .changeset/nervous-apricots-crash.md
Due: none

update request handlers and add tests (#237)
  .changeset/nervous-apricots-crash.md
  packages/http-server/src/request-handlers/get-exchange.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/tests/get-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
Due: http-server

Fixed bug where IDs passed to getExchanges is handled incorrectly
  packages/http-server/package.json
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  pnpm-lock.yaml
Due: http-server

Changeset
  .changeset/fair-spiders-eat.md
Due: none

Use query-string lib
  packages/http-server/package.json
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/tests/get-exchanges.spec.ts
  pnpm-lock.yaml
Due: http-server

Updated changelist comment
  .changeset/fair-spiders-eat.md
Due: none

Fixed bug in the test that is meant to test this (it always passes due to incorrect usage) (#240)
  .changeset/fair-spiders-eat.md
  packages/http-server/package.json
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  pnpm-lock.yaml
Due: http-server

Removed query params for List Exchange API
  .changeset/modern-bobcats-ring.md
  packages/http-server/src/in-memory-exchanges-api.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-exchanges.spec.ts
Due: http-server

Fixed lint error
  packages/http-server/tests/get-exchanges.spec.ts
Due: http-server

Removed query params for List Exchanges API (#244)
  .changeset/modern-bobcats-ring.md
  packages/http-server/src/in-memory-exchanges-api.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/get-exchanges.spec.ts
Due: http-server

Update fixture data accordingly
  packages/protocol/src/dev-tools.ts
Due: protocol

Updated error message in verifySignature()
  packages/protocol/src/message.ts
  packages/protocol/src/resource.ts
Due: protocol

Update packages/protocol/src/resource.ts
  packages/protocol/src/resource.ts
Due: protocol

Update broken link in http-server README
  packages/http-server/README.md
Due: http-server

adding fee to fix issue #249
  package-lock.json
  packages/protocol/src/types.ts
Due: protocol

sec fixes
  package-lock.json
Due: none

fix audit ci
  .github/workflows/integrity-check.yml
  audit-ci.json
  package.json
Due: none

tidy up ci
  .github/workflows/integrity-check.yml
Due: none
