Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

add hermit (#183)
  .github/workflows/docs-ci.yml
  .github/workflows/integrity-check.yml
  .github/workflows/release.yml
  .nvmrc
  README.md
  bin/.node-21.6.2.pkg
  bin/.pnpm-8.15.3.pkg
  bin/README.hermit.md
  bin/activate-hermit
  bin/corepack
  bin/hermit
  bin/hermit.hcl
  bin/node
  bin/npm
  bin/npx
  bin/pnpm
Due: none

update ip
  package.json
  pnpm-lock.yaml
Due: none

update vector generation script to use `did:dht` dids for pfi and alice (#185)
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

During request token verification, check that JWTHeader.kid includes the same DID as JWTClaims.iss (#176)
  packages/http-client/src/client.ts
  packages/http-client/src/errors/index.ts
  packages/http-client/src/errors/request-error.ts
  packages/http-client/src/errors/request-token-error.ts
  packages/http-client/src/errors/response-error.ts
  packages/http-client/tests/client.spec.ts
Due: http-client

upgrade to ip patch (#186)
  package.json
  pnpm-lock.yaml
Due: none

pnpm i
  pnpm-lock.yaml
Due: none

Lint
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Remove remaining DevTools.createDid()
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

[Snyk] Upgrade query-string from 8.1.0 to 8.2.0 (#184)
  packages/http-client/package.json
  pnpm-lock.yaml
Due: http-client

Clean up unused and extraneous code (#181)
  .changeset/fluffy-eggs-collect.md
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/get-offerings.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/tests/crypto.spec.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol, http-server

Removes Snyk
  .github/workflows/security.yml
Due: none

WIP Use msw to test http-client requests
  packages/http-client/package.json
  packages/http-client/tests/client-msw.spec.ts
  packages/http-client/tests/client.spec.ts
  pnpm-lock.yaml
  tbdex-js.code-workspace
Due: http-client

Removes Snyk (#189)
  .github/workflows/security.yml
Due: none

Split client sendMessage into separate methods
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
Due: http-client

Cleanup
  packages/http-client/src/client.ts
Due: http-client

Remove underscore from _sendMessage
  packages/http-client/src/client.ts
Due: http-client

Split client sendMessage into separate methods (#192)
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
Due: http-client

Allow Close to be sent after any message kind
  packages/http-server/src/http-server.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol, http-server

allow close after orderstatus
  packages/protocol/src/message-kinds/order-status.ts
Due: protocol

add changeset
  .changeset/friendly-radios-relax.md
Due: none

Alow close after orderstatus (#194)
  .changeset/friendly-radios-relax.md
  packages/protocol/src/message-kinds/order-status.ts
Due: protocol

remove jwk from generate-test-vectors
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

move protocol version check on create-exchange to create-rfq
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol, http-server

replace protocol version
  packages/protocol/src/message.ts
  packages/protocol/src/protocol.ts
  packages/protocol/src/resource.ts
  packages/protocol/tests/protocol.spec.ts
Due: protocol

test rfq create
  packages/protocol/tests/rfq.spec.ts
Due: protocol

change field to protocol
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/close.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

rename
  packages/protocol/src/message.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/spec.ts
  packages/protocol/tests/spec.spec.ts
Due: protocol

update test
  packages/protocol/tests/spec.spec.ts
Due: protocol

add required field protocol version to message and resource
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/close.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

add checks for protocol version to create or add to exchange
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/src/exchange.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol, http-server

pass in protocol version
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/spec.ts
  packages/protocol/tests/close.spec.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/spec.spec.ts
Due: protocol

compile errors
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

fix offering
  packages/protocol/tests/offering.spec.ts
Due: protocol

test fixes
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

update client
  packages/http-client/tests/client.spec.ts
Due: http-client

test fixes
  packages/http-client/tests/client.spec.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-client, http-server

revert client spec changes
  packages/http-client/tests/client.spec.ts
Due: http-client

http-client test
  package.json
  packages/http-client/tests/client.spec.ts
Due: http-client

add changesets
  .changeset/cyan-wolves-draw.md
  .changeset/stale-hats-run.md
Due: none

Path conditions:
  protocol: any of: packages/protocol/**
  http-client: any of: packages/http-client/**
  http-server: any of: packages/http-server/**
