Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

add codecov badge
  README.md
Due: none

Put rootDir back in for http-client
  packages/http-client/tsconfig.json
Due: http-client

Setup CodeQL SAST
  .github/workflows/codeql.yml
Due: none

Add TODO
  packages/protocol/src/did-resolver.ts
Due: protocol

Stricten typescript in protocol package (#141)
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/src/utils.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/tsconfig.json
  packages/protocol/tsconfig.json
Due: protocol

renaming a variable
  packages/http-server/src/request-handlers/create-exchange.ts
Due: http-server

adding default typescript version to align on
  .vscode/settings.json
  CODEOWNERS
  package.json
Due: none

bumping web5 versions. removed jwt related methods and credential methods in dev-tools
  packages/http-client/package.json
  packages/protocol/package.json
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/crypto.spec.ts
  packages/protocol/tests/rfq.spec.ts
  pnpm-lock.yaml
Due: protocol, http-client

ran pnpm install to update lock
  pnpm-lock.yaml
Due: none

porting over changes related to jwt creation/verification in pr 122
  packages/http-client/src/client.ts
  packages/http-client/src/errors/index.ts
  packages/http-client/src/errors/request-token-error.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-client, http-server

adding dht method to did creation devtool method
  packages/protocol/src/dev-tools.ts
Due: protocol

Setup CodeQL SAST (#146)
  .github/workflows/codeql.yml
Due: none

Setup Codecov (#145)
  .github/workflows/integrity-check.yml
  README.md
  codecov.yml
  package.json
  packages/http-client/.c8rc.json
  packages/http-client/package.json
  packages/http-server/.c8rc.json
  packages/http-server/package.json
  packages/protocol/.c8rc.json
  packages/protocol/package.json
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Rename sdk-development -> web5-spec
  .github/workflows/integrity-check.yml
Due: none

Get test vectors directly from submodule (#143)
  packages/http-client/tsconfig.json
  packages/http-server/tsconfig.json
  packages/protocol/package.json
  packages/protocol/tests/test-vectors.spec.ts
  packages/protocol/tsconfig.json
Due: protocol, http-client, http-server

pulling in test vector changes from pr 122
  packages/protocol/package.json
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Setup OSSF
  .github/workflows/scorecard.yml
Due: none

Install OSSF Scorecard (#66)
  .github/workflows/scorecard.yml
  README.md
Due: none

lock yml update
  pnpm-lock.yaml
Due: none

sdk-report-runner
  .github/workflows/integrity-check.yml
Due: none

fixing crypto by comparing with main
  packages/http-client/package.json
  packages/protocol/src/crypto.ts
  pnpm-lock.yaml
Due: protocol, http-client

reverting changes to rfq spec
  packages/protocol/tests/rfq.spec.ts
Due: protocol

reverting changes to crypto.spec.ts
  packages/protocol/tests/crypto.spec.ts
Due: protocol

using didresolver from web5/dids
  packages/protocol/src/crypto.ts
  packages/protocol/src/did-resolver.ts
Due: protocol

Use pre instantiated DidResolver
  packages/protocol/src/crypto.ts
  packages/protocol/src/did-resolver.ts
Due: protocol

adding a changeset
  .changeset/real-schools-enjoy.md
Due: none

Update test-vectors.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Update packages/protocol/tests/test-vectors.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Update test-vectors.spec.ts (#154)
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

using fs to writeFile to overwrite the test vectors
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

adding default typescript version to align on (#148)
  .vscode/settings.json
  CODEOWNERS
  package.json
  pnpm-lock.yaml
Due: none

removing type in get required claims method
  packages/protocol/src/resource-kinds/offering.ts
Due: protocol

bumping web5 versions (#149)
  .changeset/real-schools-enjoy.md
  packages/http-client/package.json
  packages/protocol/package.json
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/tests/crypto.spec.ts
  packages/protocol/tests/rfq.spec.ts
  pnpm-lock.yaml
Due: protocol, http-client

using vc.sign() in devtool.createRfqData()
  packages/protocol/src/dev-tools.ts
Due: protocol

fixing rfq creation in client.spec.ts per protocol changes
  packages/http-client/tests/client.spec.ts
Due: http-client

using devtools in client.spec.ts
  packages/http-client/tests/client.spec.ts
  packages/protocol/src/dev-tools.ts
Due: protocol, http-client

using devtools method for generating test vectors
  packages/protocol/src/dev-tools.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

using devtools for tests
  packages/http-client/src/client.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-client, http-server

adding changeset
  .changeset/soft-ravens-march.md
Due: none

Path conditions:
  protocol: any of: packages/protocol/**
  http-client: any of: packages/http-client/**
  http-server: any of: packages/http-server/**
