Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-protocol
      name: protocol
      paths: ["packages/protocol/**"]

    - component_id: package-http-client
      name: http-client
      paths: ["packages/http-client/**"]

    - component_id: package-http-server
      name: http-server
      paths: ["packages/http-server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

Add changeset
  .changeset/curvy-scissors-nail.md
Due: none

Upgrade noble hashes (#157)
  .changeset/curvy-scissors-nail.md
  packages/protocol/package.json
  pnpm-lock.yaml
Due: protocol

Add external_id field
  packages/protocol/src/types.ts
Due: protocol

Stricten, test, and bugfix http-server
  packages/http-client/src/client.ts
  packages/http-client/src/errors/request-error.ts
  packages/http-client/tests/client.spec.ts
  packages/http-client/tests/tsconfig.json
  packages/http-client/tsconfig.json
  packages/http-server/package.json
  packages/http-server/src/fakes.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/in-memory-exchanges-api.ts
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/get-offerings.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/http-server/tests/tsconfig.json
  packages/http-server/tsconfig.json
  packages/protocol/src/exchange.ts
  packages/protocol/src/main.ts
  packages/protocol/src/message-kinds/rfq.ts
  pnpm-lock.yaml
Due: protocol, http-client, http-server

external id getter
  packages/protocol/src/message.ts
Due: protocol

using typeid for exchangeid and offeringid to generate new test vectors
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

Replit compatibility
  .gitignore
  .replit
  packages/http-client/package.json
  packages/http-client/web-test-runner.config.mjs
  packages/protocol/build/esbuild-browser-config.cjs
  packages/protocol/package.json
  packages/protocol/web-test-runner.config.mjs
  pnpm-lock.yaml
  replit.nix
Due: protocol, http-client

revert change to esbuild-browser-config
  packages/protocol/build/esbuild-browser-config.cjs
Due: protocol

fix formatting
  .replit
  packages/protocol/build/esbuild-browser-config.cjs
Due: protocol

fix newline
  packages/protocol/build/esbuild-browser-config.cjs
Due: protocol

mark pfiDid required property
  packages/http-server/src/http-server.ts
Due: http-server

add changeset
  .changeset/gentle-lies-provide.md
Due: none

remove defaults obj
  packages/http-server/src/http-server.ts
Due: http-server

Make `pfiDid` required property in `TbdexHttpServer` (#166)
  .changeset/gentle-lies-provide.md
  packages/http-server/src/http-server.ts
Due: http-server

Add exchange state machine
  packages/protocol/src/exchange.ts
  packages/protocol/src/main.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Stricten http-client
  packages/http-client/src/client.ts
  packages/http-client/src/errors/request-error.ts
  packages/http-client/tests/client.spec.ts
  packages/http-client/tests/tsconfig.json
  packages/http-client/tsconfig.json
Due: http-client

add README indicating you can use replit, and submodule update to run
  .replit
  README.md
Due: none

fix typo
  README.md
Due: none

Fix tsdoc warnings
  packages/protocol/src/exchange.ts
Due: protocol

fix: upgrade @web5/dids from 0.2.2 to 0.2.4
  packages/http-server/package.json
Due: http-server

lint
  packages/protocol/src/exchange.ts
Due: protocol

Changeset
  .changeset/green-cheetahs-share.md
Due: none

Changeset
  .changeset/mighty-pandas-speak.md
Due: none

Stricten http-client (#169)
  .changeset/mighty-pandas-speak.md
  packages/http-client/src/client.ts
  packages/http-client/src/errors/request-error.ts
  packages/http-client/tests/client.spec.ts
  packages/http-client/tests/tsconfig.json
  packages/http-client/tsconfig.json
Due: http-client

Additional tests
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Fix
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Add exchange state machine (#168)
  .changeset/green-cheetahs-share.md
  packages/protocol/src/exchange.ts
  packages/protocol/src/main.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/exchange.spec.ts
Due: protocol

Stricten, test, and bugfix http-server
  packages/http-server/package.json
  packages/http-server/src/fakes.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/in-memory-exchanges-api.ts
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/get-exchanges.ts
  packages/http-server/src/request-handlers/get-offerings.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/get-offerings.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/http-server/tests/tsconfig.json
  packages/http-server/tsconfig.json
  packages/protocol/tests/exchange.spec.ts
  pnpm-lock.yaml
Due: protocol, http-server

make requiredPaymentDetails optional
  packages/protocol/src/types.ts
Due: protocol

Handle requiredPaymentDetails undefined for RFQ verification
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Require paymentDetails be omitted if requiredPaymentDetails omitted
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

wrote a check to resolve the issuer did and check against signing kid. need to write tests
  packages/http-client/src/client.ts
  packages/http-client/src/errors/request-token-error.ts
Due: http-client

Update http-client
  packages/http-client/package.json
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
Due: http-client

Update http-server
  packages/http-server/package.json
  packages/http-server/tests/get-exchanges.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-server

Update protocol
  packages/protocol/package.json
  packages/protocol/src/crypto.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/did-resolver.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource.ts
  packages/protocol/tests/crypto.spec.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/parse.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

update web5/common, web5/credentials, web5/crypto, web5/dids to latest
  pnpm-lock.yaml
Due: none

wrote a test, but failing. payload that has bob's did that was signed by alice seems to fail at Jwt.verify()
  packages/http-client/src/client.ts
  packages/http-client/src/errors/index.ts
  packages/http-client/tests/client.spec.ts
Due: http-client

fixed test
  packages/http-client/tests/client.spec.ts
Due: http-client

adding tbdoc fixes
  packages/http-client/src/errors/request-error.ts
  packages/http-client/src/errors/request-token-error.ts
  packages/http-client/src/errors/response-error.ts
Due: http-client
