Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto # auto compares coverage to the previous base commit
        threshold: 5% # allows a 5% drop from the previous base commit coverage
      - type: patch
        target: 90 # every PR opened should strive for at least 90% coverage

  individual_components:
    - component_id: package-protocol
      name: protocol
      paths: ["packages/protocol/**"]

    - component_id: package-http-client
      name: http-client
      paths: ["packages/http-client/**"]

    - component_id: package-http-server
      name: http-server
      paths: ["packages/http-server/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true # Don't gate PRs based on Codecov passing thresholds

type changes
  packages/http-client/tests/client.spec.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/tests/close.spec.ts
  packages/protocol/tests/offering.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol, http-client

revert non-protocol changes
  packages/http-client/tests/client.spec.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-client, http-server

remove redundant protocol
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

remove redundant protocol
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/offering.spec.ts
Due: protocol

nits
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Add protocol version (#191)
  .changeset/cyan-wolves-draw.md
  .changeset/stale-hats-run.md
  package.json
  packages/protocol/src/exchange.ts
  packages/protocol/src/message-kinds/close.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/order.ts
  packages/protocol/src/message-kinds/quote.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/message.ts
  packages/protocol/src/resource-kinds/offering.ts
  packages/protocol/src/resource.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/close.spec.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol

Update release.yml
  .github/workflows/release.yml
Due: none

Update integrity-check.yml
  .github/workflows/integrity-check.yml
Due: none

Update release.yml (#198)
  .github/workflows/integrity-check.yml
  .github/workflows/release.yml
Due: none

Set NPM Config Registry Auth
  .github/workflows/integrity-check.yml
  .github/workflows/release.yml
  .gitignore
Due: none

Set NPM Config Registry Auth (#200)
  .github/workflows/integrity-check.yml
  .github/workflows/release.yml
  .gitignore
Due: none

build and publish snpashot releases on every merge to main
  .github/workflows/release-snapshot.yml
Due: none

address feedback
  .github/workflows/release-snapshot.yml
Due: none

Update client to new endpoints
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
Due: http-client

Woops use PUT
  packages/http-client/src/client.ts
  packages/http-server/src/http-server.ts
Due: http-client, http-server

Update existing endpoints in server
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-message.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-message.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-server

Changeset
  .changeset/rotten-goats-marry.md
Due: none

Lint
  packages/http-client/src/client.ts
  packages/http-server/src/request-handlers/get-exchange.ts
  packages/http-server/tests/get-exchange.spec.ts
Due: http-client, http-server

Implement getExchange server endpoint
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/get-exchange.ts
  packages/http-server/tests/get-exchange.spec.ts
Due: http-server

fix test
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-message.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-server

tbdocs
  packages/http-server/src/types.ts
Due: http-server

add pfi endpoint to offering mock did
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

update mock dids sources
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

Feat/update gen test vectors (#206)
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

Rename SubmitRfqCallback -> CreateExchangeCallback
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/types.ts
Due: http-server

#196 Restructure http endpoints according to latest design (#204)
  .changeset/rotten-goats-marry.md
  packages/http-client/src/client.ts
  packages/http-client/tests/client.spec.ts
  packages/http-server/src/http-server.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/get-exchange.ts
  packages/http-server/src/request-handlers/submit-close.ts
  packages/http-server/src/request-handlers/submit-message.ts
  packages/http-server/src/request-handlers/submit-order.ts
  packages/http-server/src/types.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-exchange.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-message.spec.ts
  packages/http-server/tests/submit-order.spec.ts
Due: http-client, http-server

bump OSSF scorecard action
  .github/workflows/scorecard.yml
Due: none

bump OSSF scorecard action (#209)
  .github/workflows/scorecard.yml
Due: none

build and publish snapshot releases on every merge to main (#203)
  .github/workflows/release-snapshot.yml
Due: none

Address tbdex #260
  packages/http-server/src/in-memory-offerings-api.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/get-offerings.spec.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/rfq.spec.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol, http-server

Add name, group, and description to PaymentMethod
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/generate-test-vectors.ts
  packages/protocol/tests/rfq.spec.ts
Due: protocol, http-server

Add min and max to PaymentMethod
  packages/protocol/src/types.ts
Due: protocol

Add estimatedSettlementTime
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
Due: protocol

Update tbdex to latest main and move compiled-validators to cjs
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/build/compile-validators.js
  packages/protocol/src/validator.ts
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol, http-server

audit fix
  packages/http-server/package.json
  pnpm-lock.yaml
Due: http-server

Update rfq.ts
  packages/protocol/src/message-kinds/rfq.ts
Due: protocol

add seconds comment
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/src/dev-tools.ts
Due: protocol, http-server

Replace require with import in compiled validators
  packages/protocol/build/compile-validators.js
  packages/protocol/src/validator.ts
Due: protocol
