Repository TBD54566975/tbdex-js: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, http-client, http-server

add in audit-ci
  package.json
Due: none

try without frozen lockfile
  .github/workflows/integrity-check.yml
Due: none

I should be using pnpm locally
  pnpm-lock.yaml
Due: none

Updated error message in verifySignature() (#247)
  packages/protocol/src/message.ts
  packages/protocol/src/resource.ts
Due: protocol

adding fee to fix issue #249 (#250)
  .github/workflows/integrity-check.yml
  audit-ci.json
  package-lock.json
  package.json
  packages/protocol/src/types.ts
  pnpm-lock.yaml
Due: protocol

Updating to get latest fixes for signature verifcation bug
  package-lock.json
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
Due: protocol, http-client, http-server

increasing timeout
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

update versions
  .changeset/long-spiders-poke.md
  packages/http-client/package.json
  packages/http-server/package.json
  packages/protocol/package.json
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Update broken link in http-server README (#248)
  packages/http-server/README.md
Due: http-server

try different test reporter
  .github/workflows/integrity-check.yml
Due: none

adding deep equal coz did dht serviceEndpoint is returning an array now
  packages/http-client/tests/client.spec.ts
Due: http-client

tidy up tests to tell runner it is done
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Update @Web5 Packages To Latest Versions (#254)
  .changeset/long-spiders-poke.md
  packages/http-client/package.json
  packages/http-client/tests/client.spec.ts
  packages/http-server/package.json
  packages/protocol/package.json
  pnpm-lock.yaml
Due: protocol, http-client, http-server

Fixed long running parsing tests due to DID resolution
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

lint
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Opportunistically updating CODEOWNERS
  CODEOWNERS
Due: none

#252 - Fixed long running parsing tests due to DID resolution (#257)
  CODEOWNERS
  packages/protocol/tests/test-vectors.spec.ts
Due: protocol

Updated tbdex submodule + updated code to reflect Quote spec changes
  README.md
  package-lock.json
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/types.ts
  pnpm-lock.yaml
Due: protocol

Updated code to reflect Order Status spec changes.
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
Due: protocol

Updated code to reflect Offering spec changes
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/types.ts
Due: protocol

lint
  packages/protocol/src/dev-tools.ts
Due: protocol

Create selfish-apricots-act.md
  .changeset/selfish-apricots-act.md
Due: none

Fixed missing docs
  .github/workflows/docs-publish.yml
  packages/http-server/src/http-server.ts
  packages/http-server/src/main.ts
  packages/protocol/src/types.ts
Due: protocol, http-server

Updated code to reflect RFQ spec changes
  packages/http-server/src/http-server.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/src/message-kinds/rfq.ts
Due: protocol, http-server

reverted exports
  packages/http-server/src/main.ts
Due: http-server

lint
  packages/http-server/tests/create-exchange.spec.ts
Due: http-server

Updated changeset
  .changeset/selfish-apricots-act.md
Due: none

Removed unused code.
  packages/protocol/src/message-kinds/order-status.ts
Due: protocol

Updated code and tests to align with latest `tbdex` main (#261)
  .changeset/selfish-apricots-act.md
  .github/workflows/docs-publish.yml
  README.md
  package-lock.json
  packages/http-server/src/http-server.ts
  packages/http-server/src/main.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/message-kinds/order-status.ts
  packages/protocol/src/message-kinds/rfq.ts
  packages/protocol/src/types.ts
  packages/protocol/tests/exchange.spec.ts
  packages/protocol/tests/generate-test-vectors.ts
  pnpm-lock.yaml
Due: protocol, http-server

Update fixture data accordingly
  packages/protocol/src/dev-tools.ts
Due: protocol

Create shiny-pillows-smile.md
  .changeset/shiny-pillows-smile.md
Due: none

fix: use fragment in json schema refs (#245)
  .changeset/shiny-pillows-smile.md
  packages/protocol/src/dev-tools.ts
Due: protocol

Changed property to in create exchange request
  packages/http-client/src/client.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/tests/create-exchange.spec.ts
Due: http-client, http-server

updated request body for order and close request
  packages/http-client/src/client.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/submit-message.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-message.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/protocol/README.md
Due: protocol, http-client, http-server

Create odd-owls-invite.md
  .changeset/odd-owls-invite.md
Due: none

Updated HTTP request body according to spec change (#263)
  .changeset/odd-owls-invite.md
  packages/http-client/src/client.ts
  packages/http-server/src/request-handlers/create-exchange.ts
  packages/http-server/src/request-handlers/submit-message.ts
  packages/http-server/tests/create-exchange.spec.ts
  packages/http-server/tests/submit-close.spec.ts
  packages/http-server/tests/submit-message.spec.ts
  packages/http-server/tests/submit-order.spec.ts
  packages/protocol/README.md
Due: protocol, http-client, http-server

Revert "Version Packages (#262)"
  .changeset/selfish-apricots-act.md
  .changeset/shiny-pillows-smile.md
  packages/http-client/CHANGELOG.md
  packages/http-client/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Due: protocol, http-client, http-server

Revert "Version Packages (#262)" (#265)
  .changeset/selfish-apricots-act.md
  .changeset/shiny-pillows-smile.md
  packages/http-client/CHANGELOG.md
  packages/http-client/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Due: protocol, http-client, http-server

update quote payment instructions
  packages/protocol/src/dev-tools.ts
  packages/protocol/src/types.ts
Due: protocol

update changeset
  .changeset/mighty-carrots-jog.md
Due: none

Path conditions:
  protocol: any of: packages/protocol/**
  http-client: any of: packages/http-client/**
  http-server: any of: packages/http-server/**
